.optionsContainer {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  margin: 5px;

  font-weight: 700;

  border-radius: 7px;
  border: none;
  outline: none;
}

.button:hover {
  color: #fcf9fa;
  background-color: #2dbafb;
}
